@import url(https://fonts.googleapis.com/css?family=Montserrat);

/* CSS reset begins */

* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    box-sizing: border-box;
}


/*CSS reset ends*/


/*General classes starts*/

.fleft {
    float: left;
}

.fright {
    float: right;
}

.bold {
    font-weight: 800
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

a,
button {
    cursor: pointer;
}


/*General classes sends*/


/*body class starts  */

html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 14px;
    font-weight: 400;
    background: #f4f4f4;
    width: 100%;
    height: 100%;
    letter-spacing: 0.06em;
    position: relative;
}


/*body class ends  */

.layout__container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.download__permission__container {
    display: none;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    align-items: center;
    justify-content: center;
    background-color: rgba(90, 90, 90, 0.9);
    z-index: 99;
}

.download__permission {
    width: 600px;
    height: 280px;
    background: #ffffff;
    border-top: 10px solid #25a0f7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5), 0px 0px 10px rgba(0, 0, 0, .5);
}

.download__permission__text {
    font-size: 25px;
    color: #5f5f5f;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

.download__permission__button {
    width: 200px;
    height: 64px;
    margin: auto;
    display: block;
    background: #25a0f7;
    font-size: 24px;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 70px;
}

.table__download-link {
    width: 800px;
    height: 500px;
    border: 2px solid #25a0f7;
    border-collapse: collapse;
}

.table__download-link td {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.table__download-link td a {
    color: #25a0f7;
    position: relative;
}

.table__download-link th {
    background: #25a0f7;
    color: white;
    font-weight: 800;
    font-size: 28px;
}

.table__download-link td:first-child,
.table__download-link th:first-child {
    text-align: left;
    padding-left: 20px;
    width: 34%;
}

.table__download-link tr:nth-child(even) {
    background: #f4f4f4;
}

.table__download-link tr:nth-child(odd) {
    background: #e9e9e9;
}

.table__download-link td:first-child {
    color: #807f7f;
    font-size: 24px;
    border-right: 2px solid #25a0f7;
}

.table__download-link th:first-child {
    border-right: 2px solid white;
}

.table__download-link a[tooltip-data]:after {
    display: none;
    /* visibility: hidden; */
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: 140px;
    position: absolute;
    height: 112%;
    padding: 10px;
    border-radius: 5px;
    right: -184px;
    top: -10px;
    z-index: 1;
    content: attr(tooltip-data);
}
.table__download-link a[tooltip-data]:hover:after{
    display:block;
}

.tooltip--top[tooltip-data]:hover:after {
    left: -20px;
    top: -70px;
    right: auto;
}

.tooltip--left[tooltip-data]:hover:after {
    left: -189px;
    right: auto;
}

.tooltip--bottom[tooltip-data]:hover:after {
    top: 48px;
    left: -20px;
    right: auto;
}

.table__download-link a[tooltip-data]:before {
    content: '';
    position: absolute;
    border-width: 10px 10px 10px 0px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
    top: 4px;
    left: 128px;
    z-index: 1;
    display: none;
}

.table__download-link a[tooltip-data]:hover:before{
    display: block;
}


.tooltip--left[tooltip-data]:hover:before {
    border-color: transparent transparent transparent rgba(0, 0, 0, 0.6);
    border-width: 10px 0px 10px 10px;
    top: 5px;
    right: 133px;
    left: auto;
}

.tooltip--bottom[tooltip-data]:hover:before {
    border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
     border-width: 0px 10px 10px 10px;
    top: 38px;
    left: 60px;
    margin-left: -10px;
}

.tooltip--top[tooltip-data]:hover:before {
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
    border-width: 10px 10px 0px 10px;
    top: -20px;
    right: auto;
    left: 60px;
    margin-left: -10px;
}



