.clock
{
    width: 200px;
    height: 200px;
    border-radius: 101px;
    background: lightgray;
    border: 2px solid blue;
    margin: auto;
    position:relative;
  
}
.needle--second
{
     position:absolute;
    top:10px;
    left:99px;
    width:2px;
    height: 90px;
    background:white;
    transform: rotate(90deg);
    transform-origin: bottom;
}
.needle--hour
{
     position:absolute;
    top:40px;
    left:97px;
    width:6px;
    height: 60px;
    background: brown;
}
.needle--minute
{
     position:absolute;
    top:25px;
    left:98px;
    width:4px;
    height: 75px;
    background: red;
}
.clock__numbers
{
    width:6px;
    height:98px;
     position:absolute;
    top:2px;
    left:97px;
    background: lightgray;
}
.visible
{
    width:6px;
    height:15px;
    position: absolute;
    top:0px;
    background: black;
}
.number--12
{
    
}
.number--1
{   
    transform: rotate(30deg);
    transform-origin: bottom;
}
.number--2
{    
    transform: rotate(60deg);
    transform-origin: bottom;
}
.number--3
{   
    transform: rotate(90deg);
    transform-origin: bottom;
}
.number--4
{
      transform: rotate(120deg);
    transform-origin: bottom;
}
.number--5
{   
    transform: rotate(150deg);
    transform-origin: bottom;
}
.number--6
{    
    transform: rotate(180deg);
    transform-origin: bottom;
}
.number--7
{   
    transform: rotate(210deg);
    transform-origin: bottom;
}
.number--8
{
       transform: rotate(240deg);
    transform-origin: bottom;
}
.number--9
{   
    transform: rotate(270deg);
    transform-origin: bottom;
}
.number--10
{    
    transform: rotate(300deg);
    transform-origin: bottom;
}
.number--11
{   
    transform: rotate(330deg);
    transform-origin: bottom;
}