/* CSS reset begins */
*{ padding:0px;
margin:0px;
border:none;
font-weight:400;
box-sizing: border-box;
}
/*CSS reset ends*/

/*General classes starts*/

.fleft{float: left;}
.fright{float: right;}
.bold{font-weight: 800}
.clearfix::after{content:'';
display:block;
clear:both;
}
/*General classes sends*/

/*header classes starts*/
.header{
	background-color: black;
	height: 60px;

}
.header__wrapper
{
	height:60px;
	width:1000px;
	margin:auto;

}
.header__nav
{
	margin-top: 20px;
}
.header__nav__anchor
{
	line-height: 20px;
	padding:0 10px 20px 10px;
	text-decoration: none;
	color:white;
	display:inline-block;

}
.header__nav > .active ,.header__nav__anchor:hover
{background-image:url('/home/vikasbn/assignments/images/arrow.png');
background-position: bottom ;
background-repeat: no-repeat;
}


/*header class ends*/
/*body{
	background-color: blue;
}*/